/*** Megabar Styler Two-Row Flex Layout - version 2020-04-11 ***/

  /* !!! Requires variables from Megabar Styler General !!! */

  /* Adjust heights for scrolling */
  #urlbarView-results, #urlbar-results {
    max-height: calc(1.625 * (var(--mbarstyler-title-font-size) + var(--mbarstyler-url-font-size) + var(--mbarstyler-bottom-border-width)) * var(--mbarstyler-max-rows-without-scrolling)) !important;
  }
    /* Wrap the url (adapted from Fx75 narrow bar design) */
  .urlbarView-row-inner {
    flex-wrap: wrap !important;
    padding-top: 0 !important;
    padding-bottom: 2px !important;
  }
  .urlbarView-no-wrap {
    max-width: 100% !important;
    flex-basis: 100% !important;
    position: relative;
  }

  /* Adjust horizontal and vertical URL position */
  .urlbarView-row[has-url] > .urlbarView-row-inner > .urlbarView-url {
    padding-inline-start: calc(6px + 2px + /* favicon */ 16px) !important;
    margin-top: calc(2px + (var(--mbarstyler-url-font-size) - var(--mbarstyler-title-font-size)));
  }

  /* Hide the separator if there's a URL */
  .urlbarView.megabar[actionoverride] .urlbarView-row[has-url] .urlbarView-title-separator,
  .urlbarView.megabar .urlbarView-row[has-url]:not([type$=tab]) .urlbarView-title-separator,
  .urlbarView.megabar .urlbarView-row[type=remotetab]:-moz-any(:hover, [selected]) .urlbarView-title-separator {
    display: none !important;
  }

/*** End of: Megabar Styler Two-Row Flex Layout ***/
